<div class="contentcomp">
    <!-- Your code here-->
    <div class="bodyClass">

        <h2>Create schedule</h2>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                <h2 class="fs-title">Enter date</h2> 
                <input type="date" [(ngModel)]="date" placeholder="Reason " />  

                <h2 class="fs-title">Enter time</h2> 
                <input type="time" [(ngModel)]="time" placeholder="Reason " />  
                <button class="btn btn-success" (click)="createSchedule()" >Save</button>
                      
                </div>
            </div>
        </div>
    </div>	

    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <table id="t01" class="table table-bordered myTable">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Date - Time</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                          <tr class = "hoverLine" *ngFor="let schedule of schedules">
                            <td>{{schedule.id}}</td>
                            <td>{{schedule.dates}} {{schedule.time}}</td>
                            <td>{{schedule.status}}</td>
                            <button class="btn btn-danger" (click)="updateSchedule(schedule.id)" >Unavailable</button>
                          </tr>
                      </table>
                </div>
            </div>
        </div>
</div>
