
<div class="body">

</div>
<div class="grad">
   <!--- menu-->
   <div *ngIf="ismenu" >
      <app-menu></app-menu>
   </div>
   <!--- register-->
  <div *ngIf="isregister" >
    <br><br><br><br>
    <app-link16></app-link16>
  </div>
</div>

<br>


<!---login-->
<div *ngIf="islogin" >
  <div class="header">
    <div>
      Social<span>MedicalCenter</span>
    </div>
  </div>
   
   <div class="login">
        <p class="msg" *ngIf="ismsg">{{msg}}</p>
				<input type="text" placeholder="Username" [(ngModel)]="username"><br>
        <input type="password" placeholder="Password" [(ngModel)]="password"><br>
        <button  (click) = "loginUser()" class="button" >Login</button><br>
        <button  (click) = "registerPage()" class="button" >Create account</button>
  </div>
</div>