    <div class = "form">
        
    <p class = "formtext">What is the reason for your visit?</p> <input type="text" class = "formfield">

    <p class = "formtext">List all known allergies</p> <input type="text" class = "formfield">

    <p class = "formtext">List the medications you are currently taking</p> <input type="text" class = "formfield">

    <p class = "formtext">What type of appointment will this be?</p>

    <select class = "formselect">

        <option value="consultation">Consultation</option>

        <option value="followup">Follow Up</option>

        <option value="procedure">Procedure</option>

    </select>

    <p class = "formtext">Select Doctor</p>

    <select class = "formselect">

        <option value="Mathew Abbas">Mathew Abbas</option>

        <option value="Britany Black">Britany Black</option>

        <option value="Shady White">Shady White</option>

        <option value="Thomas Akbar">Thomas Akbar</option>

        <option value="Phillip Brown">Phillip Brown</option>

        <option value="Kristina Aker">Kristina Aker</option>

        <option value="Frederick Ali">Frederick Ali</option>

        <option value="John Michalson">John Michalson </option>
        
        <option value="Mark Abram">Mark Abram </option>

        <option value="Denise Addison">Denise Addison </option>

        <option value="Sara Agrin">Sara Agrin</option>

        <option value="Ben Allan">Ben Allan</option>

    </select><br>
    <p class = "formtext">Time of Appointment</p>

    <select class = "formselect">
        <option value="time">Sample Available Time</option>
    </select><br>

    <button id="checkin" (click) = "checkin()">Checkin</button>
    </div>