<div class="container">
      <p id="form">Create User</p>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="age">Age</label>
      <input type="number" id="age" name="age" placeholder="Age..">
      <br><br>
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" placeholder="Phone..">

      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Email..">

      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username..">

      <label for="password">Password</label>
      <input type="text" id="password" name="password" placeholder="Password..">

      <label for="role">Role</label>
      <select id="role" name="role">
        <option value="client">Client</option>
        <option value="receptionist">Receptionist</option>
        <option value="doctor">Doctor</option>
      </select>

      <input type="submit" value="Submit">

  </div> 