@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);

.myTable {
    width: 85%;
    margin: 0 auto;
    background-color: white;
}
th, td {
    border: solid 2px rgba(0, 0, 0, 0.308);
}

.hoverLine:hover {
    background-color: rgba(178, 236, 219, 0.39);
}

.common {
    border: solid 2px   rgba(0, 0, 0, 0.308);
    margin-bottom: 10px;
}

h4 {
    font-weight: bolder;
}

.table-appointment {
    padding: 5%;
}

.sendInstructions {
    margin-bottom: 10px;
}


