
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css );
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css );

.table-bordered{
    background-color:white;
}
.contentcomp8{
    margin-right: -23px;
    margin-left: -19px;
}