<div class="body">

</div>
<div class="header">
    <div>
          Site<span>MedPark</span>
    </div>
</div>
<div class="content">
    
    <div class="top">
        <div class="dropdown">
            <button class="dropbtn">Client (Remington)</button>
            <div class="dropdown-content">
              <a routerLink="#">Appointment</a>
              <a routerLink="#">Link 2</a>
              <a routerLink="#">Link 3</a>
            </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Receptionist (Shef)</button>
            <div class="dropdown-content">
              <a routerLink="#">Link 1</a>
              <a routerLink="#">Link 2</a>
              <a routerLink="#">Link 3</a>
            </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Doctors (Nicole)</button>
            <div class="dropdown-content">
              <a routerLink="#">Link 1</a>
              <a routerLink="#">Link 2</a>
              <a routerLink="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Contact</button>
            <div class="dropdown-content">
              <a routerLink="#">Link 1</a>
              <a routerLink="#">Link 2</a>
              <a routerLink="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Setting</button>
            <div class="dropdown-content">
              <a routerLink="#">Create Users</a>
              <a routerLink="#">Link 2</a>
              <a routerLink="/login">Logout</a>
            </div>
        </div>
    </div>
    
    <div class="content">
				
        
    </div>
</div>


  