<div class="contentcomp bodyClass">

    <h2>Manage schedule</h2>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">

              <table id="myTable" class="blueTable">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Date - Time</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                      <tr class = "hoverLine" *ngFor="let schedule of schedules">
                        <td>{{schedule.id}}</td>
                        <td>{{schedule.dates}} {{schedule.time}}</td>
                        <td>{{schedule.status}}</td>
                        <td  class="myButton"><button class="btn btn-danger myButton" (click)="updateSchedule(schedule.id)" >Unavailable</button></td>
                      </tr>
                  </table>
            </div>
        </div>
    </div>
</div>	
