@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);

.bodyClass {
    padding: 5%;
}

.scheduleDate {
    font-weight: bold;
    font-size: medium;
    margin-left: 10px;
}


.contentcomp8{
    margin-right: -23px;
    margin-left: -19px;
}

table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
  }