<div class="p-3 mb-2 bg-light text-dark">Choose a doctor to view their schedule</div>
<div class="input-group">
    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option value="mathewabas">Mathew Abas</option>
        <option value="britanyblack">Britanny Black</option>
        <option value="shadywhite">Shady White</option>
        <option value="thomasakbar">Thomas Akbar</option>
        <option value="phillipbrown">Phillip Brown</option>
        <option value="kristinaaker">Kristina Aker</option>
        <option value="frederickali">Frederick Ali</option>
        <option value="johnmichalson">John Michalson</option>
        <option value="markabram">Mark Abram</option>
        <option value="deniseaddison">denise Addison</option>
        <option value="saraagrin">Sara Agrin</option>
        <option value="benallan">Ben Allan</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click) = "viewDoctorSchedule()" type="button">Select</button>
    </div>
  </div>
