<div class="contentcomp">
  
      <div *ngIf='tableVar' class="table-appointment">
        <h4>Today's Appointment List</h4>
        <table id="t01" class="table table-bordered blueTable">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Patient Name</th>
              <th scope="col">Time</th>
              <th scope="col">Appointment Type</th>
              <th scope="col">Doctor Name</th>
              <th scope="col">Time Left</th>
            </tr>
          </thead>
          <tbody>  
                <tr class = "hoverLine" *ngFor="let appmnt of appointments">
                  <th scope="row" (click)="patientInfo(appmnt.client.id, appmnt)">{{appmnt.id}}</th>
                  <td>{{appmnt.client.f_name}} {{appmnt.client.l_name}}</td>
                  <td>{{appmnt.schedule.time}}</td>
                  <td>{{appmnt.appointment_type}}</td>
                  <td>{{appmnt.doctor.f_name}} {{appmnt.doctor.l_name}}</td>
                  <th scope="row"><p id='{{appmnt.id}}'></p></th>
                  <td><button  (click)="checkout(appmnt)"> Checkout</button></td>
                  <td><button  (click)="startCancel(appmnt)">Cancel</button></td>
                  <td><button  (click)="startReschedulelAppointment(appmnt)"> Reschedule</button></td>
                </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="form-group cancelForm"  *ngIf="rescheduleNote" >
    <div class="form-card">
      <h2 class="fs-title">What time will your appointment be?</h2> 
      <select  [(ngModel)]="schedule">
          <option></option>
          <option *ngFor="let schedule of schedules" [ngValue]="schedule" >{{schedule.dates}} {{schedule.time}}</option>
      </select>
    </div>
    <br>
    <button type="button" class="btn btn-danger" (click)="reschedulelAppointment()">Send</button>
  </div>
  <div class="form-group cancelForm"  *ngIf="cancelNote" >
    <h5>Please enter reason for cancellation</h5>
    <textarea class="form-control sendInstructions" rows="3" [(ngModel)] = "cancelReason"></textarea>
    <br>
    <button type="button" class="btn btn-danger" (click)="cancelAppointment()">Send</button>
  </div>

  <div *ngIf='infoVar' class="patientInfo">
    <div class="container">
         <div class="basic_info common"> 
             <h4>Basic Information</h4>
             <span>First Name: {{appointment.client.f_name}}</span><br>
             <span>Last Name: {{appointment.client.l_name}}</span><br>
             <span>Age: {{age}}</span>
         </div>

         <div class="contact_info common"> 
                 <h4>Contact Information</h4>
                 <span>Phone: {{appointment.client.phone}}</span><br>
                 <span>Email: {{appointment.client.email}}</span>
         </div>

         <div class="medical_info common"> 
                 <h4>Medical Information</h4>
                 <span>Allergy: {{appointment.allergy}}</span><br>
                 <span>Medication List: {{appointment.medication_list}}</span><br>
                 <span>Primary Care Physician: {{appointment.pcp}}</span><br>
                 <span>See extra files: </span>
                 <a href="#">Download file</a><br>
         </div>
         <div class="form-group">
           <h5>Send Message</h5>
           <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <label class="input-group-text"  for="inputGroupSelect01">Recipient</label>
               </div>
                 <select  class="custom-select width:70%;" id="inputGroupSelect01" [(ngModel)]="user" (change)="selectOption(user)">
                   <option *ngFor="let user of users" [ngValue]="user">{{user.f_name}} {{user.l_name}}</option>
               </select>
           </div>
           
           <textarea class="form-control sendInstructions" rows="3" [(ngModel)] = "message.message"></textarea>
           <button type="button" class="btn btn-success" (click)="sendMsg()">Send</button>
         </div>
    </div>
  </div>
