<div class="contentcomp">
      <div *ngIf='tableVar' class="table-appointment">
        <h4>Today's Appointment List</h4>
        
        <table id="t01" class="table table-bordered myTable">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Patient Name</th>
              <th scope="col">Date - Time</th>
              <th scope="col">Appointment Type</th>
              <th scope="col"> Cancel Appointment</th>
              <th scope="col"> Reschedule Appointment</th>
              <th scope="col">Checkout</th>
            </tr>
          </thead>
            <tr class = "hoverLine" *ngFor= "let appointment of appointments">
              <th (click)="patientInfo(appointment)">{{appointment.id}}</th>
              <td></td>
              <td></td>
              <td>{{appointment.appointment_type}}</td>
              <td><button class="btn btn-danger" (click)="startCancel(appointment)">Cancel</button></td>
              <td><button class="btn btn-success" (click)="startReschedulelAppointment(appointment)"> Reschedule</button></td>
              <td><button class="btn btn-danger"  (click)="checkout(appointment)"> Checkout</button></td>
            </tr>
        </table>
      
    </div>
  </div>
  <div class="form-group cancelForm"  *ngIf="rescheduleNote" >
    <div class="form-card">
      <h2 class="fs-title">What time will your appointment be?</h2> 
      <select  [(ngModel)]="appointment.schedule">
          <option *ngFor="let schedule of schedules" [ngValue]="schedule">{{schedule.dates}}</option>
      </select>
    </div>
    <button type="button" class="btn btn-danger" (click)="reschedulelAppointment()">Send</button>
  </div>
  <div class="form-group cancelForm"  *ngIf="cancelNote" >
    <h5>Please enter reason for cancellation</h5>
    <textarea class="form-control sendInstructions" rows="3" [(ngModel)] = "cancelReason"></textarea>
    <button type="button" class="btn btn-danger" (click)="cancelAppointment()">Send</button>
  </div>

  <div *ngIf='infoVar' class="table-appointment">
    <div class="container">
         <div class="basic_info common"> 
             <h4>Basic Information</h4>
             <span>First Name: {{appointment.client.f_name}}</span><br>
             <span>Last Name: {{appointment.client.l_name}}</span><br>
             <span>Age: {{age}}</span>
         </div>

         <div class="contact_info common"> 
                 <h4>Contact Information</h4>
                 <span>Phone: {{appointment.client.phone}}</span><br>
                 <span>Email: {{appointment.client.email}}</span>
         </div>

         <div class="medical_info common"> 
                 <h4>Medical Information</h4>
                 <span>Allergy: {{appointment.allergy}}</span><br>
                 <span>Medication List: {{appointment.medication_list}}</span><br>
                 <span>Primary Care Physician: {{appointment.pcp}}</span><br>
                 <span>See extra files: </span>
                 <a href="#">Download file</a><br>
         </div>
         <div class="form-group">
           <h5>Send Message</h5>
           <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <label class="input-group-text"  for="inputGroupSelect01">Recipient</label>
               </div>
                 <select  class="custom-select width:70%;" id="inputGroupSelect01" [(ngModel)]="receptionist.id">
                   <option *ngFor="let receptionist of receptionists" [ngValue]="receptionist.id">{{receptionist.l_name+" "+receptionist.f_name}}</option>
               </select>
             </div>
           
           <textarea class="form-control sendInstructions" rows="3" [(ngModel)] = "message.message"></textarea>
           <button type="button" class="btn btn-success" (click)="sendMsg()">Send</button>
         </div>
    </div>
  </div>
