<h4>Welcome</h4>
<h4>Receptionist Name</h4>




<div class="contentcomp">
       
    <div *ngIf='tableVar' class="table-appointment">
        <h4>Today's Appointment List</h4>
        <table class="table table-bordered myTable">
            <thead>
                <tr>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Appointment type</th>
                    <th scope="col"> Cancel Appointment</th>
                    <th scope="col"> Reschedule Appointment</th>
                    <th scope="col">Checkout</th>
                </tr>
            </thead>
            <!-- <tr class = "hoverLine" *ngFor='let appointment of appointments' (click)="patientInfo()">
                <td> (click)="patientInfo()"{{appointment.hospital_user.f_name}} {{appointment.hospital_user.l_name}}</td>
                <td>{{appointment.time}} {{time}}</td>
                <td>{{appointment.appointment_type}}</td>
                <td><button class="btn btn-danger" (click)="cancelAppointment()"> Cancel</button></td>
            </tr> -->

            <tr class = "hoverLine">
                <td (click)="patientInfo()">aa</td>
                <td>dd</td>
                <td>rr</td>
                <td><button class="btn btn-danger" (click)="startCancel()"> Cancel</button></td>
                <td><button class="btn btn-success" (click)="reschedulelAppointment()"> Reschedule</button></td>
                <td><button class="btn btn-danger" (click)="checkout()"> Checkout</button></td>
            </tr>
        </table>
    </div>
    <div class="form-group cancelForm"  *ngIf="cancelNote" >
        <h5>Please enter reason for cancellation</h5>
        <textarea class="form-control sendInstructions" rows="3" [(ngModel)] = "cancelReason"></textarea>
        <button type="button" class="btn btn-danger" (click)="cancelAppointment()">Send</button>
    </div>

    

    <div *ngIf='infoVar' class="table-appointment">
       <div class="container">
            <div class="basic_info common"> 
                <h4>Basic Information</h4>
                <span>First Name: {{f_name}}</span><br>
                <span>Last Name: {{l_name}}</span><br>
                <span>Age: {{age}}</span>
            </div>

            <div class="contact_info common"> 
                    <h4>Contact Information</h4>
                    <span>Phone: {{phone}}</span><br>
                    <span>Email: {{email}}</span>
            </div>

            <div class="medical_info common"> 
                    <h4>Medical Information</h4>
                    <span>Allergy: {{allergy}}</span><br>
                    <span>Medication List: {{medication_list}}</span><br>
                    <span>Primary Care Physician: {{pcp}}</span><br>
                    <span>See extra files: </span>
                    <a href="#">Download file</a><br>
            </div>
            <div class="form-group">
                    <h5>Send Message</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text"  for="inputGroupSelect01">Recipient</label>
                        </div>
                        <select class="custom-select width:70%;" id="inputGroupSelect01">
                          <option selected>select recipient...</option>
                          <option>Appointment Physician</option>
                          <option>Patient</option>
                        </select>
                      </div>
                    
                    <textarea class="form-control sendInstructions" rows="3" [(ngModel)] = "message"></textarea>
                    <button type="button" class="btn btn-success" (click)="sendMsg()">Send</button>
            </div>
       </div>
     </div>

    <div>
        
  </div>
</div>
