
.top{
  	margin-top: 110px;
    margin-left: 450px;
}

#dashboard{
  text-decoration: none;
  font-weight: 400;
  color: white;
  /*background-color:#4CAF50;*/
  /*background-color: #333;*/
  background-color: rgb(23, 158, 180);
}

.content{
  margin-top: 0px;
  margin-left: 450px;
  /*background-color:aquamarine;*/
  margin-right: 370px;
  border-radius: 8px;
  padding: 16px 20px 125px 20px;
}

.header1{
	position: absolute;
  z-index: 2;
  left: calc(22% - 42px);
  top: 228px;
}

.header1 div{
	float: left;
	color: #c85b5b;
	font-family: 'Exo', sans-serif;
	font-size: 60px;
	font-weight: 200;
}

.header1 div span{
	color: #5379fa !important;
}

.header{
	position: absolute;
	top: calc(44% - 35px);
	left: calc(45% - 42px);
	top: 163px;
	position: absolute;
}


 /* Dropdown Button */
 .dropbtn {
    /*background-color: #4CAF50;*/
    /*background-color: #333;*/
    background-color: rgb(23, 158, 180);
    color: white;
    padding: 25px;
    font-size: 16px;
    border: none;
  }
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f1f1f1;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:#327cad;} 

  
.button {
  background-color: rgb(129, 152, 202);
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5px;
  cursor: pointer;
}

.navbar {
  /*background-color: #333;*/
  background-color: rgb(23, 158, 180);
}

.menu{
  padding-left: 12px;
  padding-right: 12px;
}




