
<div class="menu">
  <div class="top">
       <div class="header">
           <div>
            Med<span>Park</span>
          </div>
        </div>
    
        <div class="dropdown">
            <button class="dropbtn">Client (Remington)</button>
            <div class="dropdown-content">
              <a><button  (click) = "clink1()" class="button" >Appointment</button>  </a>
              <a><button  (click) = "clink2()" class="button" >Link 2</button>  </a>
              <a><button  (click) = "clink3()" class="button" >Link 3</button>  </a>
            </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Receptionist (Shef)</button>
            <div class="dropdown-content">
              <a><button  (click) = "clink4()" class="button" >Link 4</button>  </a>
              <a><button  (click) = "clink5()" class="button" >Link 5</button>  </a>
              <a><button  (click) = "clink6()" class="button" >Payment</button>  </a>
            </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Doctors (Nicole)</button>
            <div class="dropdown-content">
              <a><button  (click) = "clink7()" class="button" >Link 7</button>  </a>
              <a><button  (click) = "clink8()" class="button" >Link 8</button>  </a>
              <a><button  (click) = "clink9()" class="button" >Link 9</button>  </a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Contact</button>
            <div class="dropdown-content">
              <a><button  (click) = "clink10()" class="button" >Link 10</button>  </a>
              <a><button  (click) = "clink11()" class="button" >Link 11</button>  </a>
              <a><button  (click) = "clink12()" class="button" >Link 12</button>  </a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">About</button>
          <div class="dropdown-content">
            <a><button  (click) = "clink13()" class="button" >Link 13</button>  </a>
            <a><button  (click) = "clink14()" class="button" >Link 14</button>  </a>
            <a><button  (click) = "clink15()" class="button" >Link 15</button>  </a>
          </div>
      </div>
        <div class="dropdown">
            <button class="dropbtn">Setting</button>
            <div class="dropdown-content">
              <a><button (click) = "clink16()" class="button" >Create Users</button> </a>
              <a><button  (click) = "logout()" class="button" >Logout</button>  </a>
            </div>
        </div>
    </div>
</div>

<div class="content">
  <!---client-->
  <div *ngIf="link1" >
    <app-link1></app-link1>
  </div>
  <div *ngIf="link2" >
    <app-link2></app-link2>
  </div>
  <div *ngIf="link3" >
    <app-link3></app-link3>
  </div>

  <!-- receptionist-->
  <div *ngIf="link4" >
    <app-link4></app-link4>
  </div>
  <div *ngIf="link5" >
    <app-link5></app-link5>
  </div>
  <div *ngIf="link6" >
    <app-link6></app-link6>
  </div>

  <!---doctor-->
  <div *ngIf="link7" >
    <app-link7></app-link7>
  </div>
  <div *ngIf="link8" >
    <app-link8></app-link8>
  </div>
  <div *ngIf="link9" >
    <app-link9></app-link9>
  </div>

  <!---contact-->
  <div *ngIf="link10" >
    <app-link10></app-link10>
  </div>
  <div *ngIf="link11" >
    <app-link11></app-link11>
  </div>
  <div *ngIf="link12" >
    <app-link12></app-link12>
  </div>

  <!---about-->
  <div *ngIf="link13" >
    <app-link13></app-link13>
  </div>
  <div *ngIf="link14" >
    <app-link14></app-link14>
  </div>
  <div *ngIf="link15" >
    <app-link15></app-link15>
  </div>

  <!---user-->
  <div *ngIf="link16" >
    <app-link16></app-link16>
  </div>

</div>

  