
<div class="menu">
  <div class="top">
       <div class="header">
           <div>
            Social<span>MedicalCenter</span>
          </div>
        </div>
        <div class="dropdown">
           <button class="dropbtn" (click) = "showDashboard()" >Dashboard</button>
            <div class="dropdown-content">
            </div>
        </div> 
        <div *ngIf="role == 'client' || role == 'admin'" class="dropdown">
            <button class="dropbtn">Client</button>
            <div class="dropdown-content">
              <a><button  (click) = "clink1()" class="button" >Make New Appointment</button>  </a>
              <a><button  (click) = "clink2()" class="button" >View Doctor Schedule</button>  </a>
              <a><button  (click) = "clink3()" class="button" >Start a Chat</button>  </a>
            </div>
        </div> 
        <div *ngIf="role == 'receptionist' || role == 'admin'" class="dropdown">
            <button class="dropbtn">Receptionist</button>
            <div class="dropdown-content">
              <a><button  (click) = "clink4()" class="button" >View Appointments</button>  </a>
              <a><button  (click) = "clink5()" class="button" >Create Appointment</button>  </a>
              <a><button  (click) = "clink6()" class="button" >Messages</button>  </a>
            </div>
        </div> 
        <div *ngIf="role == 'doctor' || role == 'admin'" class="dropdown">
            <button class="dropbtn">Doctors</button>
            <div class="dropdown-content">
              <a><button  (click) = "clink7()" class="button" >View Appointments</button>  </a>
              <a><button  (click) = "clink8()" class="button" >Manage Schedule</button>  </a>
              <a><button  (click) = "clink9()" class="button" >Message</button>  </a>
            </div>
        </div>
        <div  class="dropdown">
            <button class="dropbtn">Contact</button>
            <div class="dropdown-content">
              <a><button  (click) = "clink10()" class="button" >Link 10</button>  </a>
              <a><button  (click) = "clink11()" class="button" >Link 11</button>  </a>
              <a><button  (click) = "clink12()" class="button" >Link 12</button>  </a>
            </div>
        </div>
        <div  class="dropdown">
          <button class="dropbtn">About</button>
          <div class="dropdown-content">
            <a><button  (click) = "clink13()" class="button" >Link 13</button>  </a>
            <a><button  (click) = "clink14()" class="button" >Link 14</button>  </a>
            <a><button  (click) = "clink15()" class="button" >Link 15</button>  </a>
          </div>
      </div>
        <div  class="dropdown">
            <button class="dropbtn">Setting</button>
            <div class="dropdown-content">
              <a *ngIf="role == 'admin'"><button (click) = "clink16()" class="button" >Create Users</button> </a>
              <a ><button  (click) = "logout()" class="button" >Logout</button>  </a>
            </div>
        </div>
    </div>
</div>
<div class="content">
  <!---client-->
  <div *ngIf="role == 'client'  && showdasbord " >
    <h2>My Dashboard</h2>
    <p id="dashboard">Welcome {{name}}</p>
    <app-client></app-client>
  </div>
  <div *ngIf="link1" >
    <app-link1></app-link1>
  </div>
  <div *ngIf="link2" >
    <app-link2></app-link2>
  </div>
  <div *ngIf="link3" >
    <app-link3></app-link3>
  </div>

  <!-- receptionist-->
  <div *ngIf="role == 'receptionist' && showdasbord " >
    <h2>My Dashboard</h2>
    <p id="dashboard">Welcome {{name}}</p>
    <app-receptionist></app-receptionist>
  </div>
  <div *ngIf="link4" >
    <app-link4></app-link4>
  </div>
  <div *ngIf="link5" >
    <app-link5></app-link5>
  </div>
  <div *ngIf="link6" >
    <app-link6></app-link6>
  </div>

  <!---doctor-->
  <div *ngIf="role == 'doctor'  && showdasbord" >
    <h2>My Dashboard</h2>
    <p id="dashboard">Welcome {{name}}</p>
    <app-doctor></app-doctor>
  </div>
  <div *ngIf="link7" >
    <app-link7></app-link7>
  </div>
  <div *ngIf="link8" >
    <app-link8></app-link8>
  </div>
  <div *ngIf="link9" >
    <app-link9></app-link9>
  </div>

  <!---contact-->
  <div *ngIf="link10" >
    <app-link10></app-link10>
  </div>
  <div *ngIf="link11" >
    <app-link11></app-link11>
  </div>
  <div *ngIf="link12" >
    <app-link12></app-link12>
  </div>

  <!---about-->
  <div *ngIf="link13" >
    <app-link13></app-link13>
  </div>
  <div *ngIf="link14" >
    <app-link14></app-link14>
  </div>
  <div *ngIf="link15" >
    <app-link15></app-link15>
  </div>

  <!---user-->
  <div *ngIf="link16" >
    <app-link16></app-link16>
  </div>

</div>

  