
<div class="table-appointment">
    <h1 class="text-center">Appointments</h1>
    <table class="appointment-table">
        <tr>
            <th>Patient Name</th>
            <th>Time</th>
            <th>Appointment type</th>
        </tr>
        <!-- <tr *ngFor='let appointment of appointments' (click)="patientInfo()">
            <td>{{appointment.hospital_user.f_name}} {{appointment.hospital_user.l_name}}</td>
            <td>{{appointment.time}} {{time}}</td>
            <td>{{appointment.appointment_type}}</td>
        </tr> -->
        <tr (click)="patientInfo()">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
