@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);

.bodyClass {
    padding: 5%;
}

.myTable {
    width: 85%;
    margin: 0 auto;
    background-color: white;
}
th, td {
    border: solid 2px rgba(0, 0, 0, 0.308);
}

.hoverLine:hover {
    background-color: rgba(178, 236, 219, 0.39);
}

.common {
    border: solid 2px   rgba(0, 0, 0, 0.308);
    margin-bottom: 10px;
}

h4 {
    font-weight: bolder;
}

.table-appointment {
    padding: 5%;
}

.sendInstructions {
    margin-bottom: 10px;
}

/* .manyDates {
} */

table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
  }