<div   class="contentcomp bodyClass">
<div class="form-row">
        <div class="col mb-3 dateApp">
            <label for="date">Choose date to see appointments:</label>
            <input type="date" class="form-control manydates" id="date"  required><br>
            <button class="btn btn-success" (click)="showAppointments()" >See Appointments</button>
        </div>
    </div>
    

    <div *ngIf='!appointments'>
        <div *ngIf='client_info' class="table-appointment">
            <h1 class="text-center">Appointments</h1>
            
            <table class="table table-bordered myTable">
                <thead>
                    <tr>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Time</th>
                        <th scope="col">Appointment type</th>
                        <th scope="col"> Cancel Appointment</th>
                        <th scope="col"> Reschedule Appointment</th>

                    </tr>
                </thead>
                <!-- <tr class = "hoverLine" *ngFor='let appointment of appointments' (click)="patientInfo()">
                    <td> (click)="patientInfo()"{{appointment.hospital_user.f_name}} {{appointment.hospital_user.l_name}}</td>
                    <td>{{appointment.time}} {{time}}</td>
                    <td>{{appointment.appointment_type}}</td>
                    <td><button class="btn btn-danger" (click)="cancelAppointment()"> Cancel</button></td>
                </tr> -->

                <tr class = "hoverLine">
                    <td (click)="patientInfo()">aa</td>
                    <td>dd</td>
                    <td>rr</td>
                    <td><button class="btn btn-danger" (click)="cancelAppointment()"> Cancel</button></td>
                    <td><button class="btn btn-success" (click)="reschedulelAppointment()"> Reschedule</button></td>
                </tr>
            </table>
        </div>

        <div *ngIf='!client_info' class="table-appointment">
        <div class="container">
                <div class="basic_info common"> 
                    <h4>Basic Information</h4>
                    <span>First Name: {{f_name}}</span><br>
                    <span>Last Name: {{l_name}}</span><br>
                    <span>Age: {{age}}</span>
                </div>

                <div class="contact_info common"> 
                        <h4>Contact Information</h4>
                        <span>Phone: {{phone}}</span><br>
                        <span>Email: {{email}}</span>
                </div>

                <div class="medical_info common"> 
                        <h4>Medical Information</h4>
                        <span>Allergy: {{allergy}}</span><br>
                        <span>Medication List: {{medication_list}}</span><br>
                        <span>Primary Care Physician: {{pcp}}</span><br>
                        <span>See extra files: </span>
                        <a href="#">Download file</a><br>
                </div>
                <div class="form-group">
                        <h5>Send Instructions</h5>
                        <textarea class="form-control sendInstructions" rows="3" [(ngModel)] = "instructions"></textarea>
                        <button type="button" class="btn btn-success" (click)="sendToReceptionist()">Send</button>
                </div>
        </div>
        </div>

        <div>
            
    </div>
</div>
</div>

    
