.contentcomp{
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
    margin-right: -23px;
    margin-left: -18px;
    color:black;
    background-color: white;
}


select {
    background-repeat:no-repeat;
    background-position:300px;
    width:353px;
    padding:12px;
    margin-top:8px;
    font-family:Cursive;
    line-height:1;
    border-radius:5px;
    background-color:#A2A499;
    color:#ff0;
    font-size:20px;
    -webkit-appearance:none;
    box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.6);
    outline:none
    }
    select:hover {
    color:#00ff7f
    }