<div class="contentcomp">
   
  <div   class="contentcomp">
  <div *ngIf='tab1' class="form-card">
      <h6 class="fs-title">Choose a doctor</h6> 
      <select  [(ngModel)]="doctor" (change)="selectDoctor(doctor)">
          <option *ngFor="let doctor of doctors" [ngValue]="doctor">{{doctor.l_name+" "+doctor.f_name}}</option>
      </select>
      <button class="btn btn-success mybtn" (click)="showQueue()" >View Waiting List</button>
      <button class="btn btn-success" (click)="showDashboard()" >Go Back</button>
  </div>     <div  *ngIf='tab2' >
  <table id="myTable" class="blueTable">
    <thead>
      <tr>
        <th scope="col">Nr:</th>
        <th scope="col">Client Name</th>
        <th scope="col">Time Left</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td scope="row">{{appointment.id}}</td>
        <td scope="row">{{appointment.client.f_name}} {{appointment.client.l_name}}</td>
        <td id="{{appointment.client.id}}" scope="row"><p id='{{appointment.id}}'></p></td>
      </tr>
    </tbody>
  </table>
</div>
</div>  <div  *ngIf='tab3'>
<button class="btn btn-success" (click)="showQueueContainer()">Waiting Queue</button>
<table id="myTable" class="blueTable">
  <thead>
    <tr>
      <th scope="col">Nr:</th>
      <th scope="col">Client Name</th>
      <th scope="col">Date - Time</th>
      <th scope="col">Appointment Type</th>
      <th scope="col">Doctor Name</th>
      <!--<th scope="col">Time Left</th>-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of appointments">
      <th scope="row">{{appointment.id}}</th>
      <th scope="row">{{appointment.client.f_name}} {{appointment.client.l_name}}</th>
      <td>{{appointment.schedule.dates}} {{appointment.schedule.time}}</td>
      <td>{{appointment.appointment_type}}</td>
      <th scope="row">{{appointment.doctor.f_name}} {{appointment.doctor.l_name}}</th>
      <!-- <th scope="row"><p id='{{appointment.id}}'></p></th> -->
    </tr>
  </tbody>
</table>
</div>    
</div>