<div class="contentcomp">
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Doctor Name</th>
        <th scope="col">Time</th>
        <th scope="col">Date</th>
        <th scope="col">Appointment Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Mathew Abas</th>
        <td>3:00</td>
        <td>9/10/2019</td>
        <td>Consultation</td>
      </tr>
      <tr>
        <th scope="row">Shady White</th>
        <td>2:00</td>
        <td>9/29/2019</td>
        <td>Follow Up</td>
      </tr>
      <tr>
        <th scope="row">Kristina Aker</th>
        <td >5:00</td>
        <td>9/17/2019</td>
        <td>Procedure</td>
      </tr>
    </tbody>
  </table>
</div>